<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
    <title>Attention Visual</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="text/javascript" data-main="../static/js/script/main" src="../static/js/lib/require.min.js"></script>
</head>

<body>
    <div class="panel">
    	<select class="head"></select>
    	<select class="file"></select>
    	<button class="prev">Prev</button>
    	<button class="next">Next</button>
        <span class="progress"></span>
    </div>
    <div class="vis"></div>
    <div class="top"></div>
</body>
</html>